---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="banner"></div>

    <div class="container">
        <div class="text"></div>

        <div class="carte"></div>
    </div>

    <footer>
        <ul class="lista">
            <li>
                <a href="https://bestcj.ro"></a><img
                    src="../../public/media/icons/BEST_yellow_icon.svg"
                    alt=""
                />
            </li>
            <li>
                <a href="https://bestcj.ro"></a><img
                    src="../../public/media/icons/facebook_yellow_icon.svg"
                    alt=""
                />
            </li>
            <li>
                <a href="https://bestcj.ro"></a><img
                    src="../../public/media/icons/tik_tok_yellow_icon.svg"
                    alt=""
                />
            </li>
        </ul>
    </footer>
</Layout>

<style>
    .lista {
        list-style-type: none;
    }
</style>
