---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header id="banner">
    <img src="/media/elemente/top.jpg" alt="" />
  </header>

  <div class="container-grid">
    <div class="txt">
      <h1>Despre acest ghid:</h1>
      <br />
      Sigur ești nerăbdător să afli secretele studenției, așa că rămâi cu noi! <br
      /><br />
      Ghidul Bobocului este <b>proiectul</b> destinat bobocilor din cadrul Universității
      Tehnice din Cluj-Napoca, iar scopul lui este de a desluși câteva dintre <b
        >misterele studenției</b
      >
      și a te familiariza. <br /><br />

      În ghid vei găsi numeroase informații pentru un decurs lin al vieții tale
      de student, precum tips&triks pentru sesiune și activități în timpul
      liber. Așa că te invităm să răsfoiești ghidul atât online, cât și fizic. <br
      /><br />

      Ne poți găsi în data de <b>23 și 24 septembrie</b> în campusurile <b
        >Observator</b
      > și <b>Mărăști</b>, dar și la festivitățile de deschidere. <br /><br />

      De asemenea, te așteptăm la <b>Best Open Day</b> pe data de <b
        >2 octombrie</b
      > de la ora <b>18:00</b> la <b>Double Decker</b>, Strada Dacia 2! Haide să
      ne cunoaștem!
    </div>
    <div class="carte flex flex-column">
      <h1>Carte digitală:</h1>
      <div class="carte-link">
        <a href="/carte_ghid"
          ><img
            src="/media/elemente/enchanted-magical-book-icon-isolated-3d-render-illustration.png"
            alt="Carte PDF"
          /></a
        >
      </div>
    </div>
    <div class="parteneri-wrapper">
      <a href="/parteneri" class="buton">PARTENERI</a>
    </div>
  </div>
  <div class="kitty-wrapper">
    <img src="/media/elemente/kitty.svg" alt="" />
    <a href="/kitty" class="buton">Ce Hello Kitty esti?</a>
  </div>

  <div class="harta">
    <iframe
      src="https://www.google.com/maps/d/u/0/embed?mid=1vu4DmU8LC0EWxM0wgFvR0wHW1zyk7iE&ehbc=2E312F&noprof=1&panel=1&sidebar=1"
      width="1280"
      height="400"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      style="border:0;"></iframe>
  </div>
</Layout>

<style>
  body {
    min-height: 100vh;
    height: 100vh;
  }

  main {
    min-height: 100vh;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const btn = document.querySelector(".kitty-wrapper .buton");
    const img = document.querySelector(
      ".kitty-wrapper img"
    ) as HTMLImageElement | null;

    if (btn && img) {
      btn.addEventListener("mouseenter", () => {
        img.style.transform = "rotate(-50deg) scale(1.1)";
      });

      btn.addEventListener("mouseleave", () => {
        img.style.transform = "rotate(-30deg) scale(1)";
      });
    }
  });
</script>
