---
import Layout from "../layouts/Layout.astro";
---

<Layout showFooter={false}>
  <a href="/home_page" id="go_home_page" style="display: none;"></a>
  <div id="intampinare">
    Bună, bobocule, și bine ai venit pe tărâmul facultății!
  </div>
</Layout>

<style>
  .intampinare {
  }
</style>

<script>
  addEventListener("load", () => {
    setTimeout(() => {
      const link = document.getElementById("go_home_page");
      if (link) link.click();
    }, 3_000);
  });
</script>
