---
import Page from "./Page.astro";
const { number_of_pages } = Astro.props;

// Generăm array-ul de pagini pe server
const pages = Array.from({ length: number_of_pages }, (_, i) => {
  const page_number = i + 1;
  return {
    page_number,
    front_img: `/media/pagini_carte/ghid-${2 * page_number - 1}.webp`,
    back_img: `/media/pagini_carte/ghid-${2 * page_number}.webp`,
    pagina_cuprins: 2 * page_number === 6,
  };
});
---

<div class="book-pages">
  {
    pages.map((page) => (
      <Page
        page_number={page.page_number}
        front_img={page.front_img}
        back_img={page.back_img}
        pagina_cuprins={page.pagina_cuprins}
      />
    ))
  }
</div>
