---
const {
  page_number,
  front_img,
  back_img,
  pagina_cuprins = false,
} = Astro.props;
---

<div id=`page${page_number}` class="paper">
  <div class="front">
    <div class="front-content">
      <img data-src=`${front_img}` alt="" />
    </div>
  </div>
  <div class="back">
    <div class="back-content">
      <img data-src=`${back_img}` alt="" />
    </div>
  </div>
</div>
