---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";

const animation = {
  old: [
    {
      name: "fade-out",
      duration: "450ms",
      easing: "ease-in",
      fillMode: "both",
    },
    {
      name: "slide-out",
      duration: "450ms",
      easing: "ease-in",
      fillMode: "both",
    },
  ],
  new: [
    {
      name: "fade-in",
      delay: "450ms",
      duration: "450ms",
      easing: "ease-in-out",
      fillMode: "both",
    },
    {
      name: "slide-in",
      duration: "500ms",
      easing: "ease-in-out",
      fillMode: "both",
    },
  ],
};

const customTransition = {
  forwards: animation,
  backwards: animation,
};

const { isGhid = false, showfooter = true, mainClass = "", isCarte = false } = Astro.props;
---

<!doctype html>
<html transition:animate={customTransition}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="../../public/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ghidul Bobocului</title>
    <link rel="stylesheet" href="/public/styles/style.css" />
    <ClientRouter />
  </head>

  <body>
    <main class={mainClass}>
      <slot />
    </main>

    {showfooter && <Footer />}
    {isGhid && <script src="../../public/scripts/ghid_animatie.js" ></script>  
               <script src="../../public/scripts/ghid_animatie_telefon.js" ></script> }

  </body>
</html>

<style is:global>
  @media (prefers-reduced-motion: no-preference) {
    @keyframes fade-out {
      to {
        opacity: 0;
      }
    }
    @keyframes fade-in {
      from {
        opacity: 0;
      }
    }
    @keyframes slide-in {
      from {
        transform: translateY(90px);
      }
    }
    @keyframes slide-out {
      to {
        transform: translateY(-90px);
      }
    }
  }
</style>
